@import url("https://p.typekit.net/p.css?s=1&k=tfh8rjt&ht=tk&f=46216.46217.46205.46207.46211.46214&a=142085419&app=typekit&e=css");
@import url("https://static01.nytimes.com/ads/tbrandcreativetech/flex-frame/ADPL1548_EsteeLauder_Bespoke_Zoom/AkzidenzGroteskBQ-Reg.woff");

@font-face {
    font-family: "AkzidenzGroteskBQ-Reg";
    src: url("https://static01.nytimes.com/ads/tbrandcreativetech/flex-frame/ADPL1548_EsteeLauder_Bespoke_Zoom/AkzidenzGroteskBQ-Reg.woff")
        format("woff");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}
@font-face {
    font-family: "Akzidenz-Grotesk BQ";
    src: url("https://static01.nytimes.com/ads/tbrandcreativetech/flex-frame/ADPL1548_EsteeLauder_Bespoke_Zoom/AkzidenzGroteskBQ-Reg.woff")
        format("woff");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}
@font-face {
    font-family: "new-frank";
    src: url("https://use.typekit.net/af/f6dbae/00000000000000007735fe03/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/f6dbae/00000000000000007735fe03/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
            format("woff"),
        url("https://use.typekit.net/af/f6dbae/00000000000000007735fe03/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
            format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "new-frank";
    src: url("https://use.typekit.net/af/9bc52f/00000000000000007735fe04/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/9bc52f/00000000000000007735fe04/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
            format("woff"),
        url("https://use.typekit.net/af/9bc52f/00000000000000007735fe04/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
            format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "new-frank";
    src: url("https://use.typekit.net/af/a0a470/00000000000000007735fe05/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/a0a470/00000000000000007735fe05/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
            format("woff"),
        url("https://use.typekit.net/af/a0a470/00000000000000007735fe05/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
            format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
}

@font-face {
    font-family: "new-frank";
    src: url("https://use.typekit.net/af/fc4e5f/00000000000000007735fe06/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/fc4e5f/00000000000000007735fe06/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
            format("woff"),
        url("https://use.typekit.net/af/fc4e5f/00000000000000007735fe06/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
            format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 700;
    font-stretch: normal;
}

@font-face {
    font-family: "the-seasons";
    src: url("https://use.typekit.net/af/f6c02a/00000000000000007750b302/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/f6c02a/00000000000000007750b302/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
            format("woff"),
        url("https://use.typekit.net/af/f6c02a/00000000000000007750b302/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
            format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 700;
    font-stretch: normal;
}

@font-face {
    font-family: "the-seasons";
    src: url("https://use.typekit.net/af/b8a9de/00000000000000007750b301/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/b8a9de/00000000000000007750b301/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
            format("woff"),
        url("https://use.typekit.net/af/b8a9de/00000000000000007750b301/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
            format("opentype");
    font-display: auto;
    font-style: italic;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "the-seasons";
    src: url("https://use.typekit.net/af/7a6b5e/00000000000000007750b303/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/7a6b5e/00000000000000007750b303/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
            format("woff"),
        url("https://use.typekit.net/af/7a6b5e/00000000000000007750b303/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
            format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "the-seasons";
    src: url("https://use.typekit.net/af/2e8a22/00000000000000007750b304/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/2e8a22/00000000000000007750b304/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
            format("woff"),
        url("https://use.typekit.net/af/2e8a22/00000000000000007750b304/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
            format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
}

:root {
    --height-value: calc(100vw * 1.88);
    --max-width: 1125px;
    --max-height: 600px;
    --logo-width: 140px;
    --logo-height: 45px;
    --logo-ofset: 6px;
    --font-size-summary: 16px;
    --font-size-title: 20px;
    --font-size-endframetitle: 46px;
    --font-size-endframesummary: 11px;
    --font-size-cta: 12px;
    --dot-animation-duration: 1s;
    --dot-animation-count: 3;
}

@media screen and (min-width: 1025px) {
    :root {
        --height-value: 600px;
        --max-width: 1125px;
        --max-height: 600px;
        --logo-width: 145px;
        --logo-height: 45px;
        --logo-ofset: 40px;
        --font-size-summary: 16px;
        --font-size-title: 20px;
        --font-size-endframetitle: 46px;
        --font-size-endframesummary: 16px;
        --font-size-cta: 16px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    :root {
        --height-value: 600px;
        --max-width: 750px;
        --max-height: 600px;
        --logo-width: 145px;
        --logo-height: 45px;
        --logo-ofset: 40px;
        --font-size-summary: 16px;
        --font-size-title: 18px;
        --font-size-endframetitle: 42px;
        --font-size-endframesummary: 16px;
        --font-size-cta: 16px;
    }
}

/* :::: this is to address iphone SE / 5 cropping issue :::: */

@media screen and (max-width: 767px) {
    :root {
        --max-width: 428px;
        --max-height: 750px;
        --logo-width: 136px;
        --logo-height: 40px;
        --logo-ofset: 40px;
        --font-size-summary: 14px;
        --font-size-title: 15px;
        --font-size-endframetitle: 28px;
        --font-size-endframesummary: 14px;
        --font-size-cta: 14px;
    }
}
@media screen and (max-width: 349px) {
    :root {
        --font-size-summary: 11px;
        --font-size-title: 13px;
        --font-size-endframetitle: 18px;
        --font-size-endframesummary: 12px;
        --font-size-cta: 11px;
    }
}

@media screen and (min-width: 414px) and (max-width: 767px) {
    :root {
        --height-value: calc(100vw * 1.8);
    }
}

@media screen and (min-width: 350px) and (max-width: 413px) and (max-height: calc(100vw*2)) {
    :root {
        --height-value: calc(100vw * 1.8);
    }
}

@media screen and (max-width: 374px) {
    :root {
        --height-value: calc(100vw * 1.58);
    }
}

@keyframes dotHLanimation {
    0% {
        /* transform: scale(0); */
        opacity: 0;
        box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 1);
        background-color: rgba(255, 255, 255, 0.5);
    }
    75% {
        opacity: 1;
    }
    100% {
        /* transform: scale(1.25); */
        opacity: 0;
        box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 1);
        background-color: rgba(255, 255, 255, 0.5);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

html {
    /* pointer-events: none; */
}

body {
    padding: 0px;
    margin: 0px;
    height: var(--height-value);
    pointer-events: none;
    box-sizing: border-box;
}

.ad {
    display: grid;
    grid-template-areas: "container";
    max-width: var(--max-width);
    max-height: var(--max-height);
    width: 100%;
    height: var(--height-value);
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    /* pointer-events: none; */
    visibility: hidden;
    /* background-color: black;
    background:black; */
}

/* .ad[data-index="0"].replay {
    animation: replaying 1s ease-out 0s 1 normal forwards;
    
} */

.replay {
    animation: replaying 1s ease-out 0s 1 normal forwards;
}

@keyframes replaying {
    0% {
        opacity: 1;
        background-color: #000000;
    }
    50% {
        opacity: .5;
        background-color: #000000;
    }
    100% {
        opacity: 1;
        background-color: #000000;
    }
}

.border {
    grid-area: container;
    width: 100%;
    height: var(--height-value);
    pointer-events: none;
    border: 1px solid #ccc;
    top: 0px;
    left: 0px;
    z-index: 999;
    box-sizing: border-box;
    /* background-color: black; */
    background: rgb(234,100,11);
    background: linear-gradient(94deg, rgba(234,100,11,1) 0%, rgba(234,100,11,0.8393951330532212) 39%);
    opacity: 0;
}

.logo {
    width: var(--logo-width);
    height: var(--logo-height);
    z-index: 9999;
    position: relative;
    left: var(--logo-ofset);
    top: 12px;
    pointer-events: auto;
    cursor: pointer;
    /* margin-left: 48px; */
    margin-top: 18px;
    grid-area: container;
}

.logo img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    top: 0px;
    left: 0px;
    filter: invert(1) drop-shadow(2px 2px 10px black);
}

.navigation {
    /* position: absolute; */
    grid-area: container;
    height: 100px;
    width: 100%;
    left: 0px;
    bottom: 0px;
    background-color: transparent;
    z-index: 99;
    box-sizing: border-box;
    pointer-events: none;
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 30px;
    z-index: 9999;
    /* transform: translate(0px, 290px); */
    opacity: 0;
}

@media screen and (max-width: 767px) {
    .navigation {
        padding: 10px;
        height: 60px;
    }
    .logo img {
        left: -25px;
    }
}

.arrow {
    width: 40px;
    height: 40px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    pointer-events: all;
    cursor: pointer;
}

[data-index="0"] .arrow-left,
[data-index="0"] .arrow-right,
[data-index="4"] .arrow-left {
    pointer-events: none!important;
}
[data-index="1"] .arrow-left, 
[data-index="1"] .arrow-right, 
[data-index="2"] .arrow-left, 
[data-index="2"] .arrow-right, 
[data-index="3"] .arrow-left,
[data-index="3"] .arrow-right { 
    pointer-events: all!important;
}


.arrow-left {
    background-image: url(https://storage.googleapis.com/nytpi/paidposts/2023/victorinox/ad-files/images/arrow-left.png);
}

.arrow-right {
    background-image: url(https://storage.googleapis.com/nytpi/paidposts/2023/victorinox/ad-files/images/arrow-right.png);
}

.image-container {
    /* position: relative; */
    background-image: url(https://static01.nytimes.com/ads/tbrandcreativetech/flex-frame/ADPL1548_EsteeLauder_Bespoke_Zoom/Estee_lauder_illustration-2_update4_v1_1_3000.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 1125px;
    height: 600px;
    left: 0px;
    top: 0px;
    /* aspect-ratio: 4360/2900; */
    /* opacity: 0; */
    box-sizing: border-box;
    pointer-events: none;
    grid-area: container;
    /* position: absolute; */
    overflow: hidden;
    left: 0;
    top: 0;
    background-position: 0% 0%;
    transform: scale(1.4);
}
[data-index="4"] .image-container,
[data-index="3"] .image-container {
    background-position: 100% 0%;
    transform: scale(1.3);
}

[data-index="0"] .image-container {
    background-position: 0% 0%;
    transform: scale(1);
}

.img-mobile {
    display: none;
}


.frontImage {
    grid-area: container;
    background-image: url(https://static01.nytimes.com/ads/tbrandcreativetech/flex-frame/ADPL1548_EsteeLauder_Bespoke_Zoom/Estee_Lauder_illustration_1_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 32px 54%;
    top: 0px;
    width: 100%;
    height: var(--height-value);
    z-index: 11;
    display: flex;
    color: white;
    justify-content: center;
    gap: 20px;
    align-items: center;
    transform: scale(1.25);
    /* opacity: 0; */
}
[data-index="0"] .frontImage {
    opacity: 1;
    transition: opacity 1s ease-out;
    z-index: 999;
}
[data-index="1"] .frontImage, 
[data-index="2"] .frontImage, 
[data-index="3"] .frontImage{
    opacity: 0;
    transition: opacity 1s ease-out;
} 
[data-index="4"] .frontImage {
    opacity: 0;
}

[data-index="4"] .frontImage {
    /* background-image: url(https://static01.nytimes.com/ads/tbrandcreativetech/flex-frame/ADPL1548_EsteeLauder_Bespoke_Zoom/Estee_Lauder_illustration3_update_v2_1.jpg);
    transform: scale(1) !important;
    background-position: 0 74%;
    opacity: 1 !important;
    transition: opacity .5s ease-out; */
}

.backImage {
    /* .frontImage { */
        grid-area: container;
        background-image: url(https://static01.nytimes.com/ads/tbrandcreativetech/flex-frame/ADPL1548_EsteeLauder_Bespoke_Zoom/Estee_Lauder_illustration3_update_v2_1.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 32px 54%;
        /* top: 0px; */
        width: 100%;
        height: var(--height-value);
        background-position: 0 74%;
        opacity: 0;
    /* } */
}

[data-index="0"] .backImage {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.hs {
    cursor: pointer;
    pointer-events: auto;
    background-color: black;
    padding: min(2vw, 10px) min(2vw, 10px);
    font-size: min(2vw, 10px);
}

.overlay-container {
    /* position: absolute; */
    grid-area: container;
    width: 100%;
    height: var(--height-value);
    z-index: 999;
    pointer-events: none;
    /* background: rgba(0, 0, 0, 0.2); */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "intro intro third"
        "first second cta";
    /* background-color:#000000; */
}

.overlay {
    position: relative;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.frame-1 .gradient,
.frame-2 .gradient,
.frame-3 .gradient,
.frame-4 .gradient,
.frame-5 .gradient {
    display: none !important;
}

.frame-0 {
    grid-area: intro;
}
.frame-1 {
    grid-area: first;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.frame-1 .content {
    grid-column: 4;
    grid-row: 3;
}
.frame-2 {
    grid-area: second;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.frame-2 .content {
    grid-column: 3;
    grid-row: 2;
}
.frame-3 {
    grid-area: third;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
.frame-3 .content {
    grid-column: 2/3;
    grid-row: 4;
}

.frame-1 .summary,
.frame-2 .summary,
.frame-3 .summary,
.frame-5 .special-title {
    text-rendering: geometricprecision;
    opacity: 0;
}

.overlay .special-title {
    font-family: "the-seasons", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size-endframetitle);
    line-height: 44.94px;
    /* letter-spacing: 1px; */
    color: #ffffff;
    text-shadow: 0px 4px 14px rgba(0, 0, 0, 0.35);
    margin-bottom: 10px;
    text-rendering: geometricprecision;
}

.overlay .content {
    width: fit-content;
    position: absolute;
    transition: ease 1s all;
    z-index: 9;
    pointer-events: auto;
    cursor: pointer;
    white-space: nowrap;
    text-rendering: geometricprecision;
}

.overlay .dot {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    pointer-events: none;
    border: 2px solid rgba(255, 255, 255, 1);
    backdrop-filter: blur(40px);
    box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 1);
    /* z-index: 9999999; */
}
.zoomed .overlay .dot {
    background-color: white;
    pointer-events: none;
}


.overlay .title {
    font-family: "new-frank", "sans-serif";
    font-style: normal;
    font-weight: 700;
    font-size: var(--font-size-title);
    line-height: 1.1;
    color: #ffffff;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    padding-left: 35px;
    pointer-events: none;
    user-select: none;
    margin-bottom: 6px;
    text-rendering: geometricprecision;
    cursor: pointer;
    /* display:none; */
}


.overlay .summary {
    font-family: "Akzidenz-Grotesk BQ", sans-serif;
    color: #ffffff;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    max-width: 185px;
    padding-left: 35px;
    font-size: var(--font-size-summary);
    font-weight: 400;
    pointer-events: none;
    user-select: none;
    font-weight: 500;
    line-height: 1.25;
    white-space: normal;
    /* display: none; */
    opacity: 0;
    text-rendering: geometricprecision;
}

.overlay .special-summary {
    font-family: "Akzidenz-Grotesk BQ", sans-serif;
    color: #ffffff;
    text-shadow: 0px 1px 15px #000000;
    max-width: 320px;
    z-index: 9;
    pointer-events: none;
    user-select: none;
    font-size: var(--font-size-endframesummary);
    font-weight: 300;
    line-height: 1.25;
    text-rendering: geometricprecision;
}

.overlay .gradient,
.overlay-fixed .gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
}
.overlay-fixed.frame-fixed-0 .gradient {
    background: linear-gradient(
        115deg,
        rgba(0, 0, 0, 0.45) 1%,
        rgba(0, 0, 0, 0) 46%
    );
    top: 0;
    z-index: 99;
}
.overlay.frame-1 .gradient {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    transform: rotate(-180deg);
}
.overlay.frame-2 .gradient {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    transform: rotate(-180deg);
}
.overlay.frame-3 .gradient {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    transform: rotate(-180deg);
}
.overlay.frame-4 .gradient {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    transform: rotate(-180deg);
}
.overlay.frame-5 .gradient {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0) 100%
    );
    transform: rotate(-180deg);
}

@media screen and (max-width: 767px) {
    .overlay.frame-0 .gradient {
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.3) 0%,
            rgba(0, 0, 0, 0) 100%
        );
        transform: rotate(-180deg);
    }
    .overlay.frame-1 .gradient {
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.3) 0%,
            rgba(0, 0, 0, 0) 100%
        );
        transform: rotate(-180deg);
    }
    .overlay.frame-2 .gradient {
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.3) 0%,
            rgba(0, 0, 0, 0) 100%
        );
        transform: rotate(-180deg);
    }
    .overlay.frame-3 .gradient {
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.3) 0%,
            rgba(0, 0, 0, 0) 100%
        );
        transform: rotate(-180deg);
    }
    .overlay.frame-4 .gradient {
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.3) 0%,
            rgba(0, 0, 0, 0) 100%
        );
        transform: rotate(-180deg);
    }
    .overlay.frame-5 .gradient {
        background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.3) 0%,
            rgba(0, 0, 0, 0) 100%
        );
        transform: rotate(-180deg);
    }
}

.intro-copy {
    z-index: 9;
    max-width: 400px;
    margin-top: 81px;
    margin-left: 42px;
    font-weight: 400;
}

@media screen and (max-width: 767px) {
    .overlay-container {
        grid-template-areas:
            "intro intro intro"
            "first second cta";
    }
    .frame-3 {
        grid-area: intro;
    }
    .frame-3 .content {
        grid-column: 4;
        grid-row: 4;
    }
    .intro-copy {
        margin-left: 20px;
        margin-top: 65px;
        z-index: 9;
    }
    .overlay .title {
        padding-left: 20px;
    }
    .overlay .special-title {
        margin-bottom: 6px;
    }
    .overlay .special-summary {
        max-width: 304px;
    }
    .overlay .dot {
        width: 8px;
        height: 8px;
        border-width: 2px;
    }
}
.finalcopy {
    z-index: 9;
}

.cta {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: "new-frank", "sans-serif";
    width: fit-content;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: var(--font-size-cta);
    padding: 10px 28px;
    margin-top: 15px;
    cursor: pointer;
    pointer-events: auto;
    border: 1px solid white;
    white-space: nowrap;
    grid-area: cta;
    z-index: 999;
    align-self: flex-end;
    justify-self: end;
    margin-right: 40px;
    margin-bottom: 40px;
    letter-spacing: 0.01em;
}

.cta:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
    transition: ease 0.3s all;
}

/* :::::::::: Frame 0 :::::::::::::::::::::: */

[data-index="0"] .navigation {
    opacity: 0;
}
[data-index="1"] .navigation,
[data-index="2"] .navigation,
[data-index="3"] .navigation,
[data-index="4"] .navigation,
[data-index="5"] .navigation {
    opacity: 1;
    transition: opacity 1s ease-out 0.5s;
}

[data-index="0"] .frame-0 {
    display: block;
}
[data-index="0"] .frame-1 {
    display: grid;
}
[data-index="0"] .frame-1 .content {
    grid-column: 4;
    grid-row: 3;
}
[data-index="0"] .overlay .finalcopy {
    opacity: 0;
    /* transition: opacity 1s ease-out; */
}
.zoomed[data-index="0"] .frame-1 .summary {
    opacity: 1;
    transition: all 2s ease-in-out 1s;
}
[data-index="0"] .frame-1 .summary {
    opacity: 0;
    /* transition: opacity 1s ease-out; */
}
[data-index="0"] .arrow-left {
    visibility: hidden;
}

[data-index="0"] .frame-0 .gradient {
    display: block;
}

[data-index="0"] .dot-1 {
    background-color: rgba(0, 0, 0, 0.3);
    animation-name: dotHLanimation;
    animation-duration: var(--dot-animation-duration);
    animation-iteration-count: var(--dot-animation-count);
}

.ad:not(.zoomed) .overlay .content:hover > .dot {
    background-color: rgba(255, 255, 255, 0.5);
    animation-name: dotHLanimation;
    animation-duration: var(--dot-animation-duration);
    animation-iteration-count: infinite;
}



/* :::::::::: Frame 1 :::::::::::::::::::::: */

[data-index="1"] .frame-1 {
    display: grid;
    /* transition: all 150ms ease-in-out; */
}
[data-index="1"] .frame-1 .content {
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25));
    width: 250px;
    opacity: 0;
}
[data-index="1"][data-spot-index="1"] .frame-1 .content {
    transform: translate(443px, -265px);
    transition: transform 1000ms ease-out;
    opacity: 1;
}
.traveling[data-index="2"] .frame-1 .content {
    /* width: 225px;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25)); */
    opacity: 0;
    transition: none;
}.traveling[data-index="1"] .frame-1 .content {
    /* width: 225px;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25)); */
    opacity: 1;
    transition: opacity 1s ease-out;
}
[data-index="1"] .frame-1 .summary {
    opacity: 1;
    transition: opacity 1s ease-out 1s;
    max-width: 196px;
}
[data-index="1"] .frame-2 .content,
[data-index="1"] .frame-3 .content,
[data-index="1"] .intro-copy {
    opacity: 0;
    transition: all 150ms ease-in-out;
}
[data-index="1"] .frame-2 .summary {
    opacity: 0;
}
[data-index="1"] .frame-2 .dot {
    left: 0px;
}
[data-index="1"] .frame-2 .title {
    max-width: 240px;
}
[data-index="1"] .frame-1 .gradient {
    display: block;
}

.traveling[data-index="1"] .frame-1 .content {
    transform: translate(443px, -265px);
    transition: opacity 1s ease-out;
}
.traveling[data-index="1"] .frame-1 .summary {
    opacity: 1;
    transition: none;
}

/* :::::::::: Frame 2 :::::::::::::::::::::: */

[data-index="2"] .intro-copy {
    opacity: 0;
    transition: all 150ms ease-in-out;
}
.zoomed .overlay .content {
    pointer-events: none;
}

.traveling[data-index="2"] .frame-1 .content {
    opacity: 0;
    /* transition: all 1s ease-in-out; */
    /* display: none; */
}
[data-index="2"][data-spot-index="2"] .frame-1 .content {
    opacity: 0;
    transition: all .25s ease-in-out;
}
[data-index="2"] .frame-2 {
    display: grid;
    /* transition: all 5s ease-in-out; */
}

.traveling[data-index="2"] .frame-2 .summary {
    opacity: 1;
    transition: opacity .5s ease-out;
    height: auto;
}

.traveling[data-index="2"] .frame-2 .content {
    transform: translate(188px, -69px);
    transition: none;
}
.traveling[data-index="1"] .frame-2 .content{
    opacity: 0;

    /* transition: opacity 1s ease-out; */
    /* transition: all .75s ease-in-out; */
    /* display: none; */
}
.traveling[data-index="2"] .frame-3 .content {
    opacity: 0;
    /* transition: all 1s ease-in-out; */
    transition: none;
}
[data-index="1"] .frame-2 .content,
[data-index="2"] .frame-3 .content {
    opacity: 0;
    transition: all .25s ease-in-out;
}

[data-index="2"][data-spot-index="2"] .frame-2 .content {
    transform: translate(188px, -69px);
    /* transition: transform 1s ease-out 0.78s; */
    transition: transform 1000ms ease-out;
    opacity: 1;
}
[data-index="2"] .frame-2 .content {
    width: 225px;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25));
    opacity: 0;
}
.traveling[data-index="2"] .frame-2 .content {
    /* width: 225px;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25)); */
    opacity: 1;
    transition: opacity 1s ease-out;
}.traveling[data-index="1"] .frame-2 .content {
    /* width: 225px;
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25)); */
    opacity: 0;
    transition:none;
}



[data-index="2"] .frame-2 .title {
    max-width: 240px;
}
[data-index="2"] .frame-2 .summary {
    max-width: 290px;
    opacity: 1;
    transition: opacity 1s ease-out 1s;
    white-space: normal;
}
[data-index="2"] .frame-3 {
    display: grid;
}
[data-index="2"] .frame-3 .summary {
    display: none;
}
[data-index="2"] .frame-3 .content {
    grid-column: 2;
    grid-row: 4;
}
[data-index="2"] .frame-3 .title {
    max-width: 235px;
}

[data-index="2"] .frame-2 .gradient {
    display: block;
}

[data-index="2"] .overlay-fixed .summary,
[data-index="2"] .frame-fixed-2 .summary {
    max-width: 290px !important;
}

/* :::::::::: Frame 3 :::::::::::::::::::::: */

[data-index="3"] .intro-copy {
    opacity: 0;
    transition: all 150ms ease-in-out;
}

[data-index="3"] .frame-3 .content{
    opacity: 0;
}
.traveling[data-index="3"] .frame-1 .content,
.traveling[data-index="3"] .frame-2 .content {
    opacity: 0;
    /* transition: all 1s ease-in-out; */
    transition: none;
}
[data-index="3"] .frame-1 .content,
[data-index="3"] .frame-2 .content {
    opacity: 0;
    transition: all .25s ease-in-out;
}
[data-index="3"] .frame-3 {
    display: grid;
}
[data-index="3"] .frame-3 .content {
    filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25));
    opacity: 0;
}
[data-index="3"] .frame-3 .dot {
    left: 0px;
}

[data-index="3"][data-spot-index="3"] .frame-3 .content {
    transform: translate(-113px, -128px);
    transition: transform 1000ms ease-in-out;
    opacity: 1;
}
.traveling[data-index="3"] .frame-3 .content {
    /* transform: translate(-113px, -128px);
    transition: none; */
}
.traveling[data-index="3"] .frame-3 .content {
    transform: translate(-113px, -128px);
    /* transition: opacity 1s ease-out .25s; */
    transition: opacity 1s ease-out .25s;
    opacity: 1;
}
[data-index="3"] .frame-3 .title {
    max-width: 230px;
}
[data-index="3"] .frame-3 .summary {
    max-width: 290px;
    opacity: 1;
    transition: opacity 1s ease-out 1s;
    height: auto;
    white-space: normal;
}

/* [data-index="3"] .dot-4 {
    background-color: transparent;
    animation-name: dotHLanimation;
    animation-duration: var(--dot-animation-duration);
    animation-iteration-count: var(--dot-animation-count);
} */
[data-index="3"] .frame-3 .gradient {
    display: block;
}

[data-index="3"] .overlay-fixed .summary,
[data-index="3"] .overlay-fixed .summary,
[data-index="3"] .frame-fixed-2 .summary {
    max-width: 205px;
}

/* :::::::::: Frame 4 :::::::::::::::::::::: */

[data-index="4"] .intro-copy {
    opacity: 0;
    transition: all 150ms ease-in-out;
}
[data-index="4"] .frame-1 .content,
[data-index="4"] .frame-2 .content {
    opacity: 0;
    transition: all 1s ease-in-out;
}
/* [data-index="4"] .frame-3 .content {
    opacity: 0;
    transition: none;
} */

[data-index="4"] .overlay .finalcopy {
    opacity: 1;
    transition: opacity 1s ease-out;
}
[data-index="4"] .frame-4 .title {
    max-width: 225px;
}
[data-index="4"] .frame-4 .summary {
    max-width: 280px;
}
[data-index="4"] .arrow-left {
    display: none;
}

[data-index="4"] .arrow-right {
    background-image: url(https://static01.nytimes.com/ads/tbrandcreativetech/flex-frame/ADPL1548_EsteeLauder_Bespoke_Zoom/Restart.svg);
    filter: drop-shadow(0px 0px 7px #666666);
    -webkit-filter: drop-shadow(0px 0px 7px #666666);
    position: relative;
    /* bottom: -242px; */
    left: 5px;
    filter: drop-shadow(2px 4px 6px black);
}
[data-index="4"] .navigation {
    align-self: end;
}

[data-index="4"] .frame-4 .gradient {
    display: block;
}
[data-index="4"] .overlay .content {
    pointer-events: none;
    display: none;
}

.zoomed.traveling[data-index="4"] .frame-3 .content {
    transform: none!important;
    transition: none!important;
    display: none!important;
    opacity: 0;
}
[data-index="4"] .frame-3 .content {
    transform: none!important;
    transition: none!important;
    opacity: 0;
}
.frame-4 {
    grid-area: intro;
}
.overlay .content {
    z-index: 999;
}

.overlay .finalcopy {
    width: 400px;
    color: white;
    display: flex;
    flex-flow: column;
    gap: 10px;
    margin-left: 42px;
    margin-top: 81px;
    opacity: 0;
    text-rendering: geometricprecision;
}
.overlay .finalcopy .special-title {
    font-family: "the-seasons", sans-serif;
    font-size: 46px;
    font-weight: 400;
    line-height: 50px;
    text-align: left;
    text-rendering: geometricprecision;
}
.finalcopy .special-summary {
    font-family: Akzidenz-Grotesk BQ;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    max-width: 340px;
}

.active {
    z-index: 99;
}

.overlay .summary {
    height: 60px;
    overflow: hidden;
}
/* .traveling .overlay .summary {
    height: auto;
} */

@keyframes showing {
    0% {
        
        opacity: 1;
        width: 0;
    }
    100% {
        
        opacity: 1; 
        width: 100%;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .frontImage {
        background-size: 70%;
        background-position: 32px 42%;
    }
    .backImage {
        background-size: 70%;
        background-position: -10px 42%;
    }
    .border,
    .navigation,
    .overlay-container {
        max-width: 750px;
    }
    .overlay .special-title,
    .overlay-fixed .special-title {
        line-height: 42px;
    }
    .logo {
        top: 0px;
    }
    .intro-copy {
        margin-top: 60px;
    }
    .overlay .special-title {
        margin-bottom: 6px;
    }

    /* :::::::::: Frame 0 :::::::::::::::::::::: */

    [data-index="0"] .frame-1 .content {
        grid-column: 4;
    }

    /* :::::::::: Frame 1 :::::::::::::::::::::: */

    [data-index="1"] .frame-1 .content {
        max-width: 200px;
    }

    [data-index="1"][data-spot-index="1"] .frame-1 .content {
        transform: translate(266px, -249px);
    }
    .traveling[data-index="1"] .frame-1 .content {
        transform: translate(266px, -249px);
        transition: none;
    }

    /* :::::::::: Frame 2 :::::::::::::::::::::: */

    [data-index="2"] .frame-2 .content {
        transform: translate(82px, -139px);
        max-width: 212px;
    }

    [data-index="2"] .frame-2 .summary {
        max-width: 175px;
    }

    [data-index="2"] .frame-3 .title {
        max-width: 180px;
    }
    .frame-2 .summary {
        max-width: 330px;
    }

    [data-index="2"][data-spot-index="2"] .frame-2 .content {
        transform: translate(102px, -135px);
        /* transition: transform 1s ease-out 0.78s; */
    }
    .traveling[data-index="2"] .frame-2 .content {
        transform: translate(102px, -135px);
        /* transition: none; */
    }
    .traveling[data-index="3"] .frame-3 .content {
        transform: translate(-38px, -135px);
        /* transition: none; */
    }

    /* :::::::::: Frame 3 :::::::::::::::::::::: */
    .frame-3 .content {
        grid-column: 1;
    }
    [data-index="3"] .frame-3 .content {
        grid-column: 1;
    }
    [data-index="3"] .image-container img {
        object-position: -790px;
    }
    .frame-3 .summary {
        text-align: left;
        max-width: 200px;
    }

    /* :::::::::: Frame 4 :::::::::::::::::::::: */

    [data-index="4"] .frame-4 .content {
        left: 53%;
        top: 50%;
    }
    [data-index="4"] .frame-4 .title {
        max-width: 215px;
    }
    [data-index="4"] .frame-4 .summary {
        max-width: 249px;
    }
    [data-index="4"] .frame-5 .content {
        left: 23%;
        top: 38%;
    }

    .frame-4 .summary {
        max-width: 180px;
        position: relative;
    }

}

@media only screen and (orientation: portrait) and (min-width: 441px) and (max-width: 767px) {
    html {
      -webkit-transform: translateY(-100%) rotate(90deg);
      transform: translateY(-100%) rotate(90deg);
      -webkit-transform-origin: left bottom;
      transform-origin: left bottom;
    }
  } 
  
  /* // iPad Pro */
   @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    html {
      -webkit-transform: translateY(-100%) rotate(90deg);
      transform: translateY(-100%) rotate(90deg);
      -webkit-transform-origin: left bottom;
      transform-origin: left bottom;
    }
  }


@media screen and (max-width: 767px) {
    .ad {
        display: none;
    }
    .image-container img {
        object-position: -100px 0px;
    }
    .translatex-overlay-container {
        height: var(--height-mobile);
        transform: scale(1.24);
        background-position: -128px 30px;
    }
    .overlay .dot {
        top: -20px;
        left: 20px;
    }
  

    .overlay .summary {
        line-height: 1.2;
        padding-left: 20px;
    }
    .intro-copy {
        margin-left: 20px;
    }
    .intro-copy .special-title {
        line-height: 30.44px;
    }
    .frontImage {
        transform: scale(1.25);
        background-position: 48% 53px;
        background-size: cover;
    }
    .frame-0 .gradient {
        display: none !important;
    }
    .frame-1 .content {
        filter: drop-shadow(0px 1px 13px rgba(0, 0, 0, 0.5));
        grid-column: 2;
        grid-row: 3;
    }
    .frame-3 .content {
        justify-self: center;
    }

    /* :::::::::: Frame 0 :::::::::::::::::::::: */

    [data-index="0"] .frame-0 .gradient {
        display: none !important;
    }
    [data-index="0"] .frame-1 .content {
        filter: drop-shadow(0px 1px 13px rgba(0, 0, 0, 0.5));
        grid-column: 2;
        grid-row: 3;
    }
    [data-index="0"] .frame-1 .title,
    [data-index="1"] .frame-1 .title {
        max-width: 108px;
    }
    [data-index="0"] .frame-0 .intro-copy {
        left: 20px;
    }

    /* :::::::::: Frame 1 :::::::::::::::::::::: */

    [data-index="1"] .frame-1 .content {
        transform: translate(96px, -229px);
    }
    [data-index="1"] .frame-1 .summary {
        max-width: 162px;
    }
    [data-index="1"] .frame-fixed-1 {
        top: 290px;
        left: 110px;
        max-width: 180px;
    }

    /* :::::::::: Frame 2 :::::::::::::::::::::: */

 
    [data-index="2"] .frame-2 .content {
        transform: translate(-88px, -129px);
    }
  

    /* :::::::::: Frame 3 :::::::::::::::::::::: */


    [data-index="3"] .frame-3 .content {
        transform: translate(-110px, -30px);
    }
    [data-index="3"] .frame-3 .summary {
        max-width: 199px;
    }
    [data-index="3"] .frame-3 {
        grid-area: intro;
    }
    [data-index="3"] .frame-3 .content {
        grid-column: 4;
        grid-row: 4;
    }

    /* :::::::::: Frame 4 :::::::::::::::::::::: */

    [data-index="4"] .frontImage {
        background-position: -260px 0px;
    }
    [data-index="4"] .arrow-right {
        bottom: -300px;
    }
    [data-index="4"] .frame-4 .title {
        max-width: 142px;
    }
    [data-index="4"] .frame-4 .summary {
        max-width: 156px;
    }
    [data-index="4"] .frame-5 .content {
        left: 13%;
        top: 46%;
    }

    .frame-4 .summary {
        max-width: 180px;
        position: relative;
    }
}

@media screen and (max-width: 349px) {
    /* :::::::::: Frame 0 :::::::::::::::::::::: */

    [data-index="0"] .frame-1 .content {
        left: 11%;
        top: 56%;
    }

    /* :::::::::: Frame 1 :::::::::::::::::::::: */

    [data-index="1"] .frame-1 .content {
        left: 13%;
        top: 59%;
    }
    [data-index="1"] .frame-1 .title {
        max-width: 93px;
    }
    [data-index="1"] .frame-2 .content {
        left: 45%;
        top: 53%;
    }

    /* :::::::::: Frame 2 :::::::::::::::::::::: */

    [data-index="2"] .frame-2 .content {
        left: 29%;
        top: 55%;
    }
    [data-index="2"] .frame-2 .title {
        max-width: 135px;
    }
    [data-index="2"] .frame-2 .summary {
        max-width: 128px;
    }
    [data-index="2"] .frame-3 .content {
        left: 34%;
        top: 45%;
    }

    /* :::::::::: Frame 3 :::::::::::::::::::::: */

    [data-index="3"] .frame-3 .content {
        left: 17%;
        top: 58%;
    }
    [data-index="3"] .frame-4 .content {
        left: 48%;
        top: 48%;
    }
    [data-index="3"] .frame-4 .title {
        max-width: 123px;
    }

    [data-index="3"] .frame-3 .summary {
        text-align: left;
        max-width: 131px;
        position: relative;
    }

    /* :::::::::: Frame 4 :::::::::::::::::::::: */

    [data-index="4"] .frame-4 .content {
        left: 56%;
        top: 53%;
    }
    [data-index="4"] .frame-4 .title {
        max-width: 123px;
    }
    [data-index="4"] .frame-4 .summary {
        max-width: 122px;
    }
    [data-index="4"] .frame-5 .content {
        left: 34%;
        top: 44%;
    }

    .frame-4 .summary {
        max-width: 180px;
        position: relative;
    }

    /* :::::::::: Frame 5 :::::::::::::::::::::: */

    [data-index="5"] .frame-5 .content {
        left: 41%;
        top: 49%;
    }
    [data-index="5"] .finalcopy {
        left: 25px;
        bottom: 70px;
    }

    .frame-5 .summary {
        max-width: 170px;
        position: relative;
    }

    [data-index="5"] .cta {
        margin-top: 5px;
    }
}
