body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

hp-presentation, hp-title {
    display: block;
}

hp-content {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    background: hotpink;
    width: 100vw;
    height: 100vh;
}

hp-presentation {
    background-color: white;
    width: 80vmin;
    height: 80vmin;
}

hp-slide {
    display: inline-block;
    background-color: indianred;
    width: 80%;
    height: 80%;
    margin: 10%;
    border-radius: 5%;
}
