* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: tomato;
    min-height: 100vh;
    padding: 60px 0;
}

.container {
    padding: 60px 90px;
    background-color:antiquewhite;
}

.caption-container {
    max-width: 400px;
    height: auto;
    color: #333;
    background-color: transparent;
    width: 320px;
    /* border-right: solid 3px white; */
    display: flex;
    flex-flow: column wrap;
}

.caption {
    padding: 12px;
    background: white;
    height: auto;
    /* width: 50%; */
}

.arrow {
    background: transparent;
    height: 120px;
    border-right: solid 3px white;
    max-width: 200px;
    /* height: auto; */
    color: #333;
    background-color: transparent;
    width: 320px;
    display: flex;
    flex-flow: column wrap;
}

/* .caption-container:after { */
.arrow:after {
    content: "";
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    width: 8px;
    height: 8px;
    position: relative;
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    transform: rotate(45deg);
    right: -193px;
    bottom: -110px;
}
