body {
    font-family: "Abel", sans-serif;
    background: #373e48;
    color: #b6dadd;
    /* max-width: 1650px; */
    /* overflow: hidden; */
}

article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr 1fr;
}

.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

h2 {
    font-weight: normal;
    text-align: center;
    margin-top: 2vh;
}
#map {
    position: fixed;
}

svg {
    margin-top: -5vh;
    width: 90vw;
    height: 90vh;
    margin-left: 5vw;
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000px;
    position: absolute;
}

#outlines {
    overflow: hidden;
}

#dialog {
    display: none;
}

#usa,
#india,
#eu,
#china,
#USA,
#Canada,
#Mexico,
#Argentina,
#Colombia,
#Iceland,
#Russia,
#China,
#India,
#Japan,
#South_Korea,
#South_Africa,
#Australia,
#New_Zealand,
#Thailand,
#Nepal,
#UK,
#France-2,
#Sweden,
#Germany,
#Italy,
#Norway,
#Portugal,
#Finland,
#Denmark,
#Turkey,
#Belgium,
#Netherlands,
#Ireland,
#Poland,
#Romania,
#Czchec,
#Austria,
#Hungary,
#Bulgary,
#Russia_1 {
    opacity: 0;
}

.text-USA,
.timeline-USA,
.text-eu,
.text-india,
.text-China,
.text-Canada,
.text-Mexico,
.timeline-Mexico,
.text-Argentina,
.text-Colombia,
.text-Iceland,
.text-Ireland,
.text-Russia,
.text-China,
.text-India, 
.text-Norway, 
.text-UK, .text-Other
/* .outer-Mexico */ {
    opacity: 0;
    visibility: hidden;
}

.outer-Mexico, .outer-USA,
.outer-Canada, .outer-Colombia, .outer-Argentina,
.outer-Iceland, .outer-Russia, .outer-China, .outer-India,
.outer-Norway, .outer-Ireland, .outer-UK, .outer-Other {
    display: block;
    overflow: hidden;
    visibility: hidden;
}

.hotspot {
    cursor: pointer;
    /*make the hit targets bigger for mobile*/
    padding: 20px;
}

#outlines {
    stroke-width: 1;
    stroke-opacity: 1;
}
.wrapper_info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr 1fr;
    height: 100%;
    width: 100%;
}

.text-info {
    background: #23272d;
    padding: 20px;
    max-width: 350px;
    border: 1px solid #b6dadd;
    flex-flow: column;
    /* position: absolute;
    right: 5vw;
    top: 40vh; */
    grid-row: 1 / 2;
    grid-column: 2;
    height: 100%;
    overflow-y: scroll;
    max-height: 300px;
    grid-row: 1;
    /* align-self: anchor-center;
    justify-self: center;
    position: fixed; */
    position: fixed;
    right: 125px;
    top: 45px;

    table {
        margin-top: 10px;
    }
    td {
        width: 15%;
        height: 30px;
        &:first-child {
            font-weight: bold;
        }
    }
    h2 {
        margin: 0;
        padding-bottom: 10px;
        border-bottom: 1px solid #7b848e;
    }
}
.timeline {
    background: #23272d;
    padding: 20px;
    max-width: 100%;
    /* border: 1px solid #B6DADD; */
    height: 100%;
    overflow-x: scroll;
    max-height: 200px;
    align-self: anchor-center;
    justify-self: center;
    grid-column: 1 / 3;
    grid-row: 2;
    align-items: center;
}

.timeline-graph {
    /* width: 100%; */
    height: 3px;
    background: #b6dadd;
    background: crimson;
    position: absolute;
    top: 71.5%;
    left: 15%;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.timeline-list {
    width: 2560px;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.timeline-list span {
    /* background: crimson; */
    width: auto;
    border-radius: 50%;
}
.timeline-list li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin: 0 10px;
    font-size: 1.2em;
    color: #b6dadd;
    width: 300px;
    height: 100%;
    border-radius: 50%;
    /* background: crimson; */
    gap: 30px;
}

.x-out {
    position: fixed;
    fill: #b6dadd;
    width: 45px;
    height: 45px;
    right: 5vw;
    top: 80px;
    opacity: 0;
    cursor: pointer;
    z-index: 99999999;
}

.slider {
    display: flex;
    width: 300vw !important;
    /* max-width: 300vw !important; */
    align-items: end;
    transform: translate(-52px, 0px);
}
.outer-Canada .slider, .outer-Argentina .slider {
    /* width: 200vw !important;  
    transform: translate(52px, 0px);   */
}
.slider section {
    height: 50vh;
    /* width: 100%; */
    width: 40vw;
    position: relative;
    bottom: -90%;
}

.slider section .inner {
    margin: 7em;
    position: relative;
    display: flex;
    height: calc(100% - 7em);
    align-items: center;
    width: 100%;
}
.slider section .inner h1 {
    text-transform: uppercase;
}
.slider section .inner img {
    /* position: absolute; */
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(0%, -50%);
}

.content {
    /* justify-self: flex-end; */
    display: flex;
    flex-flow: column;
    align-items: baseline;
}
.content p {
    width: 100%;
    line-height: 1.5;
    font-weight: 300;
    z-index: 9;
}

.img-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.img-container img {
    position: absolute;
    opacity: 0.1;
    transform: scale(0.3) rotate(10deg);
    filter: invert(1) hue-rotate(225deg);
    height: 170px;

    &:nth-of-type(1) {
        top: 10%;
        left: 60%;
        transform: scale(0.6) rotate(10deg);
    }
    &:nth-of-type(2) {
        top: 80%;
        left: 40%;
    }
    &:nth-of-type(3) {
        top: 60%;
        left: 90%;
    }
    &:nth-of-type(4) {
        top: 70%;
        left: 5%;
    }
    &:nth-of-type(5) {
        top: 20%;
        left: 15%;
        transform: scale(0.7) rotate(10deg);
    }
    &:nth-of-type(6) {
        top: 40%;
        left: 80%;
    }
    &:nth-of-type(7) {
        top: 63%;
        left: 67%;
    }
    &:nth-of-type(8) {
        top: 7%;
        left: 26%;
        transform: scale(0.8) rotate(10deg);
    }
    &:nth-of-type(9) {
        top: 16%;
        left: 92%;
    }
    &:nth-of-type(10) {
        top: 53%;
        left: 44%;
    }
}

.outer {
    overflow-x: hidden;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    /* width: 100vw; */
}


#dot1-2-14, #dot2-2-14 {
    fill: crimson;
    opacity: 0.5;
    cursor: pointer;
}
 #Mexico path {
    fill: hotpink;
}