body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.first-container {
    height: 1200px;
}

.main-container {
    position: relative;
}

.video-container, .animation-container {
    width: 100vw;
    height: 100vh;
}
.video-container video {
    width: 100%;
}

.animation-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;;
}


.grid-animation {
    display: grid;
    height: 100%;
    width:100%;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 100px;
    /* grid-gap: 5px; */
    /* grid-template: repeat(10, 100px) / repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 100px; */
}

.grid-square {
    background-color: black;
    margin: 0;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    height: 100%;
    width: 100%;
    border: 0.0025em solid gray;
}

.active {
    background-color: transparent;
    margin: 0;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    height: 100%;
    width: 100%;
    /* border: 0.0025em solid gray; */
}

.row-animation {
    /* background-color: black; */
}

